body {
    background-color: rgb(17 24 39);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box{
    border: 1px solid gray;
    padding: 3rem 6rem;
    border-radius: 18px;
  }
